<nav class="nav-top">
    <div class="container-xxl">
      <nav class="navbar navbar-expand-sm justify-content-center">
        <a class="correct-padding-for-navhead font-head nav-padding mb-2 navbar-head-text-link" href="">Task manager</a>
        
        <!--Navigation pages-->
        <div class="navbar-collapse collapse" id="navbarNav">
          
        </div>
      
        <!--Dropdown menu-->
        <div class="dropdown" *ngIf="isAuthorized === true">
          <button class="dropdown-account-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="img-margin" height="30" width="30" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJhyvvnFnv8fA7OWR3H1FrRoaaPC3anxmwnez3BbY&s">
            <span>Violletta Parra</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">
              <i class='bx bx-cog icon-small'></i>
              <span class="text-small">Settings</span>
            </a></li>
            <li><a class="dropdown-item" href="#">
              <i class='bx bx-log-out icon-small'></i>
              <span class="text-small">Log out</span>
            </a></li>
            <li><a class="dropdown-item" href="#">
              <i class='bx bx-help-circle icon-small' ></i>
              <span class="text-small">Support</span>
            </a></li>
            <li><a class="dropdown-item" href="#">
              <i class='bx bx-mail-send icon-small' ></i>
              <span class="text-small">Send feedback</span>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
</nav>