.taskbar-without-padding {
    padding-inline-start: 0px;
}

.task-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
}

.taskbar {
    grid-column: 1/2;
    padding: 5px;
    margin: 10px;

    border-right: 1px solid rgb(204, 204, 204);
}

.taskbar-items {
    grid-column: 2/3;
    padding: 10px;
    margin: 5px;
}

.paddings {
    padding: 10px;
}

.taskbar li {
    list-style: none;
    padding-left: 0px;
    margin: 10px;
}

.taskbar li a {
    color: black;
    text-decoration: none;
}
.taskbar li a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.text {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.taskbar .taskbar-item .text {
    position: relative;
    bottom: 2px;

    margin-left: 2px ;
}

.icon {
    font-size: 24px;
}

.taskbar .taskbar-item .icon {
    font-size: 20px;
}

.date {
    color:var(--primary-color);
    font-size: 12px;
}

.taskbody header .head-text {
    display: inline-block;
    margin-right: 5px;
}

.col-md-9 {
    margin-left: 20px;
}

.taskbody {
    font-family: 'Poppins', sans-serif;
}

.taskbody .status-text {
    font-size: 18px;
}

.taskbody .add-task {
    color: var(--text-color);
}

.taskbody .add-task .icon {
    margin-right: 10px;
    color: var(--primary-color);
}
.taskbody .add-task .text {
    position: relative;
    bottom: 6px;
    font-size: 14px;
}

.taskbody .add-task:hover {
    color: black;

}

.taskbody hr {
    color: gray;
}

.taskbody ul {
    list-style: none;
    padding-left: 0px;
}

.taskbody ul li {
    margin-top: 2px;
    margin-bottom: 2px;
}

.taskbody .task-li {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 5px;
}

.task-li .radiobutton {
    margin-right: 10px;
}

.task {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    display: flex; /* You need this... */
    justify-content: space-between; /* and this */
    width: 900px;
}

.task .description {
    flex: 15;
    margin-top: 0px;
}

.description {
    font-size: 14px;
    color: var(--text-color);
}

.task .date {
    margin-top: 2px;
    margin-bottom: 3px;
}

.task .title {
    flex: 15;
    margin-bottom: -3px;
}

.task .date .icon {
    margin-right: 3px;
    font-size: 14px;
}

.task .date .date-text {
    position: relative;
    bottom: 1px;
}

.title {
    font-size: 16px;
}

.tasks hr {
    opacity: 35%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.task-li:hover .icons {
    visibility: visible;
}

.icons {
    visibility: hidden;
    display: flex;
    flex-direction:row;
    align-items :flex-start;

    height: 20px;
}

.task-li .icons .bx-message-alt-x {
    position: relative;
    top: 1px;
    color: crimson;
    margin-left: 2px;
}
.task-li .icons .bx-calendar-exclamation {
    position: relative;
    bottom: 1px;
    color: red;
    margin-left: 2px;
}
.task-li .icons .bx-edit {
    color:darkorchid;
    margin-left: 2px;
}

.task-li .form-check {
    margin-right: 8px;
}
.task-li .form-check .form-check-input {
    border-radius: 25px;
}

.taskbody .tasks .task-li .icons .icon:hover {
    background-color: rgb(221, 221, 221);
}

@media (max-width: 767px) {
    .taskbar {
        border-right: none;
    }
}
@media (min-width: 768px) {
    .wrap {
        flex-wrap: nowrap;
    }
}

@media (max-width: 321px) {
    .taskbody .tasks .task-li .task .title {
        font-size: 16px;
    }
    .taskbody .tasks .task-li .task .description {
        font-size: 14px;
    }
    .taskbody .tasks .task-li .form-check {
        margin-right: 2px;
    }
    .taskbody .tasks .task-li .icons .icon {
        font-size: 20px;
    }
    .taskbody .tasks .task-li .icons{
        display:flex;
        flex-direction: column;
    }
    .taskbody .tasks .task-li{
        min-height: 59px;
    }
}

@media (max-width: 376px) {
    .taskbody .tasks .task-li .icons{
        display:flex;
        flex-direction: column;
    }
    .taskbody .tasks .task-li{
        min-height: 70px;
    }
}

@media (max-width: 1200px) {
    .taskbar {
        min-width: 160px;
    }
}

@media (max-width: 991px) {
    .taskbar {
        min-width: 160px;
        padding: 5px;
        margin: 5px;
    }
    .taskbody {
        width: 474px;
    }
}

.taskbody form {
    margin-bottom: 25px;
}

.taskbody form .border-block {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 10px;
}

.taskbody form .border-block .card {
    display: inline-block;

    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 2px;
    background-color: transparent;
    margin-right: 13px;
}
.taskbody form .border-block .card:hover {
    background-color: #dfdfdf;
}
.taskbody form .border-block .card .text {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 4px;
}
.taskbody form .border-block .card .icon {
    position: relative;
    top: 3px;
    font-size: 20px;
    color: green;
    float: left;
    margin-right: 5px;
}

.taskbody form input, .taskbody form textarea {
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.taskbody form textarea {
    min-height: 80px;
}

.taskbody form input:focus, .taskbody form textarea {
    outline: none;
}

.taskbody form .input-title {
    font-size: 18px;
}
.taskbody form .input-description {
    font-size: 16px;
}
.taskbody form .input-date {
    font-size: 14px;
}

.taskbody form button {
    float: right;
    margin: 4px;
}

.taskbody form .btn {
    font-size: 14px;
    min-width: 30px;
}

.taskbody form .border-block .card-end {
    float: right;
}

.taskbody form .border-block .card-end .icon {
    font-size: 24px;
    color:crimson;

    position: relative;
    top: 0px;
    bottom: 4px;
}

.form-to-edit {
    min-height: 204px;
    margin-bottom: 5px;
}

@media (max-width: 991px) {
    .taskbody form .border-block .card {
        margin-right: 3px;
    }
    .taskbody form .border-block .card .text {
        font-size: 14px;
        margin-left: 3px;
        margin-right: 2px;
    }
    .taskbody form .border-block .card .icon {
        font-size: 18px;
        margin-right: 3px;
    }
    .taskbody form .border-block .card-end .icon {
        font-size: 20px;
        bottom: 0px;
        top:1px;
    }
}

@media (max-width: 525px) {
    .taskbody form .border-block .card {
        margin-bottom: 5px;
    }
    .taskbody form .border-block {
        border: 1px solid #dfdfdf;
        border-radius: 10px;
        padding: 10px;
        min-height: 237px;
    }
    .taskbody form .border-block .card-end {
        float: left;
    }    
    .taskbody form button {
        float: left;
    } 
}

@media (max-width: 360px) {
    .taskbody form .border-block .card .icon {
        top: 4px;
        font-size: 16px;
        margin-right: 2px;
    }
    .taskbody form .border-block {
        min-height: 235px;
    } 
}

@media (max-width: 353px) {
    .taskbody form .border-block .card {
        margin-right: 3px;
    }
    .taskbody form .border-block .card .text {
        font-size: 13px;
        margin-left: 1px;
        margin-right: 1px;
    }
    .taskbody form .border-block .card .icon {
        font-size: 15px;
        margin-right: 0px;
    }
    .taskbody form .border-block .card-end .icon {
        font-size: 16px;
        bottom: 0px;
        top:3px;
        margin-right: 1px;
    }

    .taskbody form .border-block {
        min-height: 236px;
    }

    .taskbody form {
        min-height: 237px;
    }
}
@media (max-width: 341px) {
    .taskbody form .border-block .card {
        margin-right: 3px;
    }
    .taskbody form .border-block .card .text {
        font-size: 13px;
        margin-left: 1px;
        margin-right: 1px;
    }
    .taskbody form .border-block .card .icon {
        font-size: 15px;
        margin-right: 0px;
    }
    .taskbody form .border-block .card-end .icon {
        font-size: 16px;
        bottom: 0px;
        top:3px;
        margin-right: 1px;
    }

    .taskbody form .border-block {
        min-height: 236px;
    }
}

@media (max-width: 321px) {

    .taskbody form .border-block .card {
        margin-right: 1px;
    }
    .taskbody form .border-block .card .text {
        font-size: 16px;
        margin-left: 1px;
        margin-right: 0px;
    }
    .taskbody form .border-block .card .icon {
        font-size: 16px;
        margin-right: 0px;
        top: 6px;
    }
    .taskbody form .border-block .card-end .icon {
        font-size: 16px;
        bottom: 0px;
        top:3px;
        margin-right: 1px;
    }

    .taskbody form .border-block {
        min-height: 234px;
    }
    .taskbody form .btn {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .taskbody .tasks li form {
        margin-bottom: 24px;
    }
}
@media (max-width: 525px) {
    .taskbody .tasks li form {
        margin-bottom: 48px;
    }
}



@media (max-width: 426px) {
    .wrap {
        padding: 0px;
        margin-right: 0px;
        margin-left: 5px;
    }

    .wrap .taskbar {
        margin: 0px;
        padding: 0px;

        margin-bottom: 15px;
    }

    .wrap .taskbody {
        margin: 0px;
        padding: 0px;
    }

    .text {
        font-size: 16px;
    }

    .task-li .form-radio {
        padding-right: 0px;
        margin-right: -3px;
    }
    .taskbody .tasks .task-li .icons{
        display:flex;
        flex-direction: column;
    }
    .taskbody .tasks .task-li{
        min-height: 72px;
    }
}