<div class="row">
    <div class="col-md-3 taskbar">
        <h2>Task categories</h2>
        <ul class="">
            <li>
                Today:
                <ul>
                    <li>
                        <a>Do homework</a>
                    </li>
                    <li>
                        <a>Go to the gym</a>
                    </li>
                </ul>
            </li>
            <li>Tomorrow:</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>Tasks</h3>
    </div>
</div>
