<div class="row bg-color">
    <ul class="col-md-2 paddings taskbar">
        <li class="taskbar-item">
            <a href="#">
                <i class='bx bx-calendar-alt icon'></i>
                <span class="text">Today</span>
            </a>
        </li>
        <li class="taskbar-item">
            <a href="#">
                <i class='bx bxs-chevron-up icon' ></i>
                <span class="text">Tomorrow</span>
            </a>
        </li>
        <li class="taskbar-item">
            <a href="#">
                <i class='bx bxs-chevrons-up icon'></i>
                <span class="text">Upcoming</span>
            </a>
        </li>
        <hr>
        <li class="taskbar-item">
            <a href="#">
                <i class='bx bx-calendar-exclamation icon'></i>
                <span class="text">Important</span>
            </a>
        </li>
        <li class="taskbar-item">
            <a href="#">
                <i class='bx bxs-hot icon'></i>
                <span class="text">Coming soon</span>
            </a>
        </li>
    </ul>


    <div class="col-md-9 taskbody">
        <header>
            <h3 class="head-text">Today</h3>
            <span class="date">Friday, September 30, 2022</span>
        </header>
        <hr>
        <div class="add-task" (click)="ReplaceAddDivWithForm()" id="add-task-div">
            <i class='bx bx-book-add icon'></i>
            <span class="text">Add a task</span>
        </div>
        <form action="" id="form-toadd" class="collapse">
            <div class="border-block">
                <input class="input-title" type="text" placeholder="Title of task">
                <textarea class="input-description" type="text" placeholder="Description"></textarea>
                <input class="input-date" type="text" placeholder="Expiration date" onfocus="(this.type='date')">

                <div class="card">
                    <i class='bx bx-calendar-event icon'></i>
                    <span class="text">Today</span>
                </div>
                <div class="card">
                    <i class='bx bx-pin icon'></i>
                    <span class="text">Incoming</span>
                </div>
                <i class='bx bx-calendar-exclamation icon' data-bs-toggle="tooltip" data-placement="top" title="Highlight as important"></i>
            </div>
            
            <button type="submit" class="btn btn-primary">Add a task</button>
            <button class="btn btn-secondary" (click)="UndoToDiv()">Cancel</button>
        </form>

        <br>
        <br>

        <h4 class="status-text">In process</h4>
        <ul class="tasks">
            <hr>
            <li class="task-li" *ngFor="let task of tasks">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
                <div class="task">
                    <div class="title">{{task.title}}</div>
                    <div class="description">{{task.description}}</div>
                    <div class="date">
                        <i class='bx bx-calendar-alt icon'></i>
                        <span class="date-text">{{task.createdTime.getDate() + ' ' + GetMonthByMonthDate(task.createdTime.getMonth())}}</span>
                    </div>
                </div>

                <div class="icons" id="icons">
                    <i class='bx bx-edit icon' data-bs-toggle="tooltip" data-placement="top" title="Edit task"></i>
                    <i class='bx bx-message-alt-x icon' data-bs-toggle="tooltip" data-placement="top" title="Remove task"></i>
                    <i class='bx bx-calendar-exclamation icon' data-bs-toggle="tooltip" data-placement="top" title="Highlight as important"></i>
                </div>
                <hr>
            </li>
        </ul>

        <h4 class="status-text">Expired</h4>
        <ul class="tasks">
            <hr>
            <li class="task-li" *ngFor="let task of tasks">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
                <div class="task">
                    <div class="title">{{task.title}}</div>
                    <div class="description">{{task.description}}</div>
                    <div class="date">
                        <i class='bx bx-calendar-alt icon'></i>
                        <span class="date-text">{{task.createdTime.getDate() + ' ' + GetMonthByMonthDate(task.createdTime.getMonth())}}</span>
                    </div>
                </div>

                <div class="icons" id="icons">
                    <i class='bx bx-edit icon'></i>
                    <i class='bx bx-message-alt-x icon'></i>
                    <i class='bx bx-calendar-exclamation icon'></i>
                </div>
                <hr>
            </li>
        </ul>
    </div>
</div>