<div class="row text-start">
    <h2>Main block</h2>
    
    <div class="col-md-8 borders">
      <h3>Development Activity</h3>
      <p>In 1992, Anthony Graves was arrested for brutally murdering a family in the middle of night. He had no motive. There was no physical evidence. The only witness recanted. And yet Graves remains behind bars.</p>
    </div>
    <div class="col-md-4 borders">
      <h3>Can Animals Be Gay?</h3>
      <p>The science of same-sex relationships in the wild.</p>
    </div>
</div>

  <div class="row text-start">
    <div class="col-md-4 borders">
      <h3>Disease as Political Metaphor</h3>
      <p>
        Punitive notions of disease have a long history, and such notions are particularly active with cancer. There is the “fight” or “crusade” against cancer; cancer is the “killer” disease; people who have cancer are “cancer victims.” Ostensibly, the illness is the culprit. But it is also the cancer patient who is made culpable.
      </p>
    </div>
    <div class="col-md-4 borders" >
      <h3>Thirty Years in Captivity</h3>
      <p>Rosie grew up in a succession of decrepit houses in South London with one man and a rotating cast of women, who claimed that they had found her on the streets as an infant. The man, Aravindan Balakrishnan—Comrade Bala, as he wanted to be called—was the head of the household. He instructed the women to deny Rosie’s existence to outsiders, and forbade them from comforting her when she cried.</p>
    </div>
    <div class="col-md-4 borders">
      <h3>The Hunt for Boko Haram</h3>
      <p>How divisions between Nigeria’s Muslim North and Christian South resulted in the birth of terror’s most ruthless movement.</p>
    </div>
  </div>

  <div class="row text-start">
    <div class="col-md-4 borders">
      <h3>Disease as Political Metaphor</h3>
      <p>
        Punitive notions of disease have a long history, and such notions are particularly active with cancer. There is the “fight” or “crusade” against cancer; cancer is the “killer” disease; people who have cancer are “cancer victims.” Ostensibly, the illness is the culprit. But it is also the cancer patient who is made culpable.
      </p>
    </div>
    <div class="col-md-4 borders" >
      <h3>Thirty Years in Captivity</h3>
      <p>Rosie grew up in a succession of decrepit houses in South London with one man and a rotating cast of women, who claimed that they had found her on the streets as an infant. The man, Aravindan Balakrishnan—Comrade Bala, as he wanted to be called—was the head of the household. He instructed the women to deny Rosie’s existence to outsiders, and forbade them from comforting her when she cried.</p>
    </div>
    <div class="col-md-4 borders">
      <h3>The Hunt for Boko Haram</h3>
      <p>How divisions between Nigeria’s Muslim North and Christian South resulted in the birth of terror’s most ruthless movement.</p>
    </div>
  </div>

  <div class="row text-start">
    <div class="col-md-4 borders">
      <h3>Disease as Political Metaphor</h3>
      <p>
        Punitive notions of disease have a long history, and such notions are particularly active with cancer. There is the “fight” or “crusade” against cancer; cancer is the “killer” disease; people who have cancer are “cancer victims.” Ostensibly, the illness is the culprit. But it is also the cancer patient who is made culpable.
      </p>
    </div>
    <div class="col-md-4 borders" >
      <h3>Thirty Years in Captivity</h3>
      <p>Rosie grew up in a succession of decrepit houses in South London with one man and a rotating cast of women, who claimed that they had found her on the streets as an infant. The man, Aravindan Balakrishnan—Comrade Bala, as he wanted to be called—was the head of the household. He instructed the women to deny Rosie’s existence to outsiders, and forbade them from comforting her when she cried.</p>
    </div>
    <div class="col-md-4 borders">
      <h3>The Hunt for Boko Haram</h3>
      <p>How divisions between Nigeria’s Muslim North and Christian South resulted in the birth of terror’s most ruthless movement.</p>
    </div>
  </div>

  <div class="row text-start">
    <div class="col-md-4 borders">
      <h3>Disease as Political Metaphor</h3>
      <p>
        Punitive notions of disease have a long history, and such notions are particularly active with cancer. There is the “fight” or “crusade” against cancer; cancer is the “killer” disease; people who have cancer are “cancer victims.” Ostensibly, the illness is the culprit. But it is also the cancer patient who is made culpable.
      </p>
    </div>
    <div class="col-md-4 borders" >
      <h3>Thirty Years in Captivity</h3>
      <p>Rosie grew up in a succession of decrepit houses in South London with one man and a rotating cast of women, who claimed that they had found her on the streets as an infant. The man, Aravindan Balakrishnan—Comrade Bala, as he wanted to be called—was the head of the household. He instructed the women to deny Rosie’s existence to outsiders, and forbade them from comforting her when she cried.</p>
    </div>
    <div class="col-md-4 borders">
      <h3>The Hunt for Boko Haram</h3>
      <p>How divisions between Nigeria’s Muslim North and Christian South resulted in the birth of terror’s most ruthless movement.</p>
    </div>
  </div>