<div class="sidebar close">
    <header>
        <a class="image-text" href="">
            <span class="image">
                <img src="assets/logo.png" alt="logo">
            </span>
            <div class="text logo-text">
                <span class="name">Task manager</span>
            </div>
        </a>
        <i class='bx bx-chevron-right toggle' (click)="hideOrShowSidebar();"></i> 
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="Home">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text nav-text">Home</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="Statistics">
                        <i class="bx bx-pie-chart-alt icon"></i>
                        <span class="text nav-text">Statistics</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="Tasks">
                        <i class='bx bx-task icon'></i>
                        <span class="text nav-text">Tasks</span>
                    </a>
                </li>
                <hr>
                <li>
                    <a href="Settings">
                        <i class='bx bx-cog icon'></i>
                        <span class="text">Settings</span>
                  </a>
                </li>
                <li>
                    <a href="Support">
                        <i class='bx bx-help-circle icon' ></i>
                        <span class="text">Support</span>
                  </a>
                </li>
                <li>
                    <a href="Feedback">
                        <i class='bx bx-mail-send icon' ></i>
                        <span class="text">Send feedback</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="About">
                        <i class='bx bx-info-circle icon'></i>
                        <span class="text nav-text">About</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="Contacts">
                        <i class='bx bxs-contact icon'></i>
                        <span class="text nav-text">Contacts</span>
                    </a>
                </li>
                <hr class="hidden-item" *ngIf="isAuthorized === false">
                <li>
                    <a href="Login" class="navbar-link navbar-item hidden-item" *ngIf="isAuthorized === false">
                        <i class='bx bx-log-in icon'></i>
                        <span class="text">Login</span>
                    </a>
                </li>
                <li>
                    <a href="Register" class="navbar-link navbar-item hidden-item" *ngIf="isAuthorized === false">
                        <i class='bx bx-user-check icon'></i>
                        <span class="text">Register</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>