/* ====== Reusable CSS ====== */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;

    transition: var(--tran-05);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}


/* ====== Sidebar ====== */
.sidebar {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;

    background: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar.close {
    width: 78px;
}

.sidebar.close .text {
    opacity: 0;
}
.sidebar.close .icon {
    position: relative;
    top: 15px;
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 50px;
    border-radius: 6px;
}

.sidebar .image-text .logo-text {
    font-size: 21px;
    font-weight: 600;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
     
}

.sidebar ul {
    padding-left: 0px;
}

.sidebar li .icon {
    justify-content: center;
    font-size: 24px;
}
.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
}

.sidebar li .text {
    position: relative;
    bottom: 4px;
    margin-left: 10px;
}

.sidebar li {
    min-height: 40px;
    margin-top: 15px;
    margin-left: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 13px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

.sidebar li a {
    text-decoration: none;
    color: var(--text-color);
    height: 100%;
    align-items: center;
    transition: var(--tran-03);
}

.sidebar li:hover {
    background: var(--primary-color);
}

.sidebar li:hover .icon,
.sidebar li:hover .text {
    color: var(--sidebar-color);
}