.settings-body {
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;

    color: white;

    min-height: 100vh;
}
@media (max-width: 1140px) {
    .settings-body {
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media (max-width: 992px) {
    .settings-body {
        padding-top: 10px;
    }
}
@media (max-width: 768px) {
    .settings-body {
        margin-bottom: 80px;
    }
}
@media (max-width: 621px) {
    .settings-body {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 375px) {
    .settings-body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.better-width {
    min-width: 180px;
}

.additional-text {
    color: gray;
    font-size: 18px;
}

/* Form media queries !!! */

@media (max-width: 1024px) {  
    .signin-col {
        display: block;
    }
}

.better-width {
    min-width: 180px;
}

.additional-text {
    color: gray;
    font-size: 18px;
}

/* Form media queries !!! */

@media (max-width: 1024px) {  
    .signin-col {
        display: block;
    }
}

i {
    font-size: 24px;

}

.input-block i {
    margin-right: 10px;
}

form .alert {
    margin-top: 20px;
}

form .custom-btn .spinner-border {
    position: relative;
    left: 10px;
    top: 7px;
}

form .text-small {
    position: relative;
    bottom: 20px;
    left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 0px;
}

form input {
    background-color: rgb(219, 219, 219);
}

form input:active {
    background-color: rgb(241, 241, 241);
}

form h3 {
    font-size: 20px;
}