@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --body-color: #f4f4f4;
    --sidebar-color: #fff;
    --primary-color: #2cc185;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

[class *= "col"] {
    padding: 1rem;
}

.nav-padding {
    padding: 0.3rem;
}

.text-start {
    text-align: start;
}

.button-menu {
    border: none;
    color: #fff;
}

.img-margin {
    margin: 10px;
}

.text-center { text-align: center;}

html, body {
    height: 100%;
}

.footer {
    background-color: #323232;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: var(--body-color);
}

.main {
    flex: 1;
}