@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --body-color: #f4f4f4;
    --sidebar-color: #fff;
    --primary-color: #2cc185;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
    --primary-color-dark: #323232;
    --border-color: rgb(227, 227, 227);

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

[class *= "col"] {
    padding: 1rem;
}

.nav-padding {
    padding: 0.3rem;
}

.text-start {
    text-align: start;
}

.button-menu {
    border: none;
    color: #fff;
}

.img-margin {
    margin: 10px;
}

.text-center { text-align: center;}

html, body {
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    top: 0;
    height: 100%;
    
    left: 78px;
    width: calc(100% - 78px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.main {
    flex: 1;
}

.bg-color {
    background: var(--body-color);
    width: 100%;
}

@media (max-width: 426px) {
    .wrapper{
        left: 50px;
        width: calc(100% - 50px);
    }
}