<form>
    <div class="head-text">
        Sign In
    </div>
    <div class="form-group d-flex flex-row align-items-center input-block">
      <i class='bx bx-envelope' ></i>
      <input id="email" name="email" #email="ngModel" [(ngModel)]="loginViewModel.email" type="email" class="form-control" 
        placeholder="Email" required email>
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert text-danger text-small">
      <i class='bx bx-envelope invisible'></i>
      <small *ngIf="email.errors?.['required']">
        Email is required.
      </small>
      <small *ngIf="email.errors?.['email']">
          Incorrect email format.
      </small>
    </div>

    <div class="form-group d-flex flex-row align-items-center input-block">
      <i class='bx bx-lock-alt' ></i>
      <input id="password" name="password" #password="ngModel" [(ngModel)]="loginViewModel.password" type="password" 
        class="form-control" placeholder="Password" required minlength="4">
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert text-danger text-small">
      <i class='bx bx-envelope invisible'></i>
      <small *ngIf="password.errors?.['required']">
        Password is required.
      </small>
      <small *ngIf="password.errors?.['minlength']">
          Password must contain at least 4 characters.
      </small>
    </div>

    <div class="custom-btn">
        <button type="submit" (click)="login()" [disabled]="password.invalid && (password.dirty || password.touched) 
        || email.invalid && (email.dirty || email.touched)">
          Sign in
      </button>
        <div id="load-circle-login" class="spinner-border text-primary" role="status" hidden>
          <span class="sr-only"></span>
        </div>
    </div>

    <div class="alert alert-success" [textContent]="alertMessage" *ngIf="successLogin"></div>
    <div id="alertError" class="alert alert-danger" [textContent]="alertMessage" hidden></div>
  </form>