<footer class="footer">
  <div class="container">
    <div class="center">
      <i class='bx bx-check-circle'></i>
      <span class="col text text-head">Task manager</span>

      <!--
        <div class="text copyright-info">
          <span class="text">Copyright</span>
          <i class='bx bx-copyright'></i>
          <span class="text">2022</span>
        </div>
      -->

      <div class="socials">
        <a href="https://t.me/MegaMozg96" target="_blank">
          <i class='bx bxl-telegram'></i>
        </a>
        <a href="https://github.com/VitaliyMinaev" target="_blank">
          <i class='bx bxl-github'></i>
        </a>
        <a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCKCFTZBmZvMBxcwFmPCLkhGqwxzNrzpccFQhsDzPJrrQDrQqQjJlvHrTcWgCxDKbXTxWqJq">
          <i class='bx bxl-gmail'></i>
        </a>
      </div>
    </div>
  </div>
</footer>