footer {
    margin-left: 40px;
    margin-right: 40px;

    color: white;
}

footer .center {
    margin: auto;
    padding: 10px;

    text-align: center;
}

footer .bx-check-circle {
    font-size: 34px;
    color: dodgerblue;
}

footer .text {
    font-family: 'Poppins', sans-serif;
}
footer .text-head {
    font-weight: 800;
    font-size: 22px;
}
footer .center .text {
    position: relative;
    bottom: 6px;

    padding-left: 5px;
}

footer .socials {
    margin-top: 20px;
}

.socials a {
    text-decoration: none;
}

.socials a i {
    font-size: 26px;
    margin-left: 10px;
    margin-right: 10px;
}

footer .socials a:hover {
    opacity: 0.6;
}

.socials a .bxl-telegram {
    color: dodgerblue;
}
.socials a .bxl-github {
    color: black;
}
.socials a .bxl-gmail {
    color: crimson;
}

@media (max-width: 455px) {
    footer .text-head {
        font-size: 16px;
    }
    footer i.bx-check-circle {
        font-size: 28px;
    }
}