<footer>
  <div class="center">
    <i class='bx bx-check-circle'></i>
    <span class="col text text-head">Task manager</span>

    <div class="socials">
      <a href="https://t.me/MegaMozg96" target="_blank">
        <i class='bx bxl-telegram'></i>
      </a>
      <a href="https://github.com/vitaliy-bezugly" target="_blank">
        <i class='bx bxl-github'></i>
      </a>
      <a href="mailto:vitalii.minaev.dev@gmail.com" target="_blank">
        <i class='bx bxl-gmail'></i>
      </a>
    </div>
  </div>
</footer>