<div class="homepage-body">
    <div class="row">
        <div class="col-lg-6">
            <h2>Organize work and life.</h2>
            <p class="additional-text">
                Task manager - will help you find concentration, organization and peace.
            </p>
            <h3>Add tasks. Organize your life. Achieve more every day.</h3>
            <p class="additional-text">Your tasks are automatically spread out over time, which in turn helps you focus on what's important.</p>
            <p class="additional-text">Do not waste energy on remembering important events or tasks, use ready-made solutions and make your life easier</p>
            <div class="custom-btn">
                <button class="better-width" routerLink="Register">Start for free</button>
            </div>
        </div>
        <div class="col-lg-6 signin-col">
            <app-login></app-login>
        </div>
    </div>
</div>
