<div class="homepage-body">
    <div class="row">
        <div class="col-md-6">
            <h2>Learn From The Expert</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa nulla sed quis rerum amet natus quas necessitatibus.
            </p>
            <a href="#" class="btn btn-primary">Register now</a>
        </div>
        <div class="col-md-6">
            <div class="signin-form">
                <form>
                    <div class="head-text">
                        Sign Up
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password">
                      </div>
                    <div class="custom-btn">
                        <button type="submit">Sign in</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
