.homepage-body {
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;

    color: white;

    min-height: 100vh;
}
@media (max-width: 1140px) {
    .homepage-body {
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media (max-width: 992px) {
    .homepage-body {
        padding-top: 10px;
    }
}
@media (max-width: 768px) {
    .homepage-body {
        margin-bottom: 80px;
    }
}
@media (max-width: 621px) {
    .homepage-body {
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 375px) {
    .homepage-body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.signin-form {
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
    width: 70%;

    margin: auto;

    color: black;
}

.signin-form .head-text {
    font-size: 24px;
    margin-bottom: 10px;
}

.signin-form .form-group {
    margin-bottom: 20px;
}
.signin-form .form-group input {
    font-size: 20px;
}

.better-width {
    min-width: 180px;
}

.additional-text {
    color: gray;
    font-size: 18px;
}

/* Form media queries !!! */
@media (min-width: 1439px) {  
    .signin-form {
        width: 90%;
    }
}
@media (max-width: 1324px) {  
    .signin-form {
        width: 80%;
    }
}
@media (max-width: 1000px) {  
    .signin-form {
        width: 100%;
    }
}
@media (max-width: 1024px) {  
    .signin-col {
        display: block;
    }
}